/* NAVIGATION */

.pageTitle {
}

.pageSubtitle {
	font-size: small;
	color: grey;
}

.toc ion-label {
	font-size: 0.85rem !important;
	line-height: 1.2 !important;
}

.menuSubItem {
	margin-top: 5px;
	color: gray;
	font-size: small;
}

.activeMenuItem .menuSubItem {
	color: white;
}

/* PHRASES */

.phrasesBlock {
	/* max-width: 400px; */
}

.phraseBlock {
	padding: 5px;

	margin-inline: 5px;
	/* border: 1px solid rgba(255, 255, 255, 1); */
	border-radius: 10px;
}

.phraseBlock .text {
	font-size: 1rem;
}

.phraseBlock .phraseNum {
	font-size: 8px;
	color: grey;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

/* .phraseWrapper:nth-child(1) {
	display: none;
} */

.phraseBlock.active .textTr,
.phraseBlock.active .phraseNum {
	color: lightgray;
}

.phraseBlock ion-button {
	height: unset;
	font-size: unset;
	color: unset;
	margin: unset;
	z-index: 0;
}

.phraseBlock .textTr {
	color: grey;
	font-size: 14px;
	padding-top: 5px;
	/* text-align: right; */
}
.phraseBlock.active {
	position: relative;
}
.phraseBlock.active:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	background: #3880ff;
	filter: blur(10px);
}
